<!DOCTYPE html>
<html>
	<head>
		<meata chaset="utf-8">
	</head>
	<body>
		<input id="user" type="text" placeholder="user"/>
		<input id="password" type="password" placeholder="password"/>
		<button id="valid" onclick="login();">Validate</button>
		<p id="msg"></p>
		<script type="text/javascript" src="/js/cryptico.min.js"></script>
		<script type="text/javascript" src="/js/sha512.min.js"></script>
		<script type="text/javascript"> // password
			let pubKey = "<%- pubKey %>";

			function login ( )
			{

				let user = document.getElementById( 'user' ).value;
				let password = document.getElementById( 'password' ).value;

				if ( ( user == "" ) ||
					( password == "" ) )
				{
					return;
				}

				let xhr = new XMLHttpRequest();

				xhr.open('POST', '/' );
				xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

				xhr.addEventListener ( 'readystatechange', function ( )
				{
					if ( ( xhr.readyState === XMLHttpRequest.DONE ) &&
						( xhr.status === 200 ) )
					{
						// connection success
					}
				});

				// encrypt password to prevent clear storage on server
				// you prevent the admin read it in clear mode
				let tmp = {
					"user":user,
					"password":sha512(password)
				};

				document.getElementById ( "msg" ).innerHTML = "password: " + tmp.password;

				let enc = cryptico.encrypt ( JSON.stringify ( tmp ), pubKey );

				xhr.overrideMimeType ( "text/plain" );
				// need encodeURIComponent() for plus (+) signs
				xhr.send ( "data="+encodeURIComponent ( enc.cipher ) );
			}
		</script>
	</body>
</html>
